a {
  color: white;
}

#pfp{
  border-radius: 50%;
  border: 5px solid gray;
  width: 150px;
  height: 150px;
}

button {
  color: var(--white);
  background: var(--secondary);
  cursor: pointer;
  padding: 5px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  /* box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%); */
  transition: 0.4s;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

button:hover {
  background: #444;
}

html {
  background-color: #292929;
}

html, body {
  width: 400px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

textarea {
  float: left;
  resize: none;
}

.switch {
  float: left;
}

.description {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
  font-size: large;
  /* margin-left: 75px; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f04c4c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f04c4c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }